
/* Spacing */
.md-buffer--top { padding-top: 10px !important; }
.md-buffer--right { padding-bottom: 10px !important; }
.md-buffer--bottom { padding-top: 10px !important; }
.md-buffer--left { padding-top: 10px !important; }

/* Navigation */
nav li {
float: left;
padding: 0 0 0 5px;
margin: 0;
list-style: none;
font-weight: 700;
}

/* Header */
header {
    background: #f7deae;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 5px 10px;
}
header p {
color: #ffffff;
    margin: 0;
    padding: 0;
}
