{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/vendor/skeleton/normalize.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/vendor/skeleton/skeleton.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <title>
            {% block title %}SLC Coffee Shops{% endblock %}
        </title>
        {% block head %}{% endblock head %}
    </head>
    <body>
        <header>
            <p class="u-pull-left"><a href="{% url 'home' %}">SLC Coffee Shops</a></p>
            <nav class="u-pull-right">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'auth_login' %}">Login</a></li>
                        <li><a href="{% url 'registration_register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main class="container md-buffer--top md-buffer--bottom">
            <div class="row">
                {% block content %}{% endblock content %}
            </div>
        </main>
        <footer>{% block footer %}{% endblock footer %}</footer>
    </body>
</html>
